
.vs/Arvore/v16/.suo
Arvore/bin/Debug/netcoreapp3.1/Arvore.deps.json
Arvore/bin/Debug/netcoreapp3.1/Arvore.dll
Arvore/bin/Debug/netcoreapp3.1/Arvore.exe
Arvore/bin/Debug/netcoreapp3.1/Arvore.pdb
Arvore/bin/Debug/netcoreapp3.1/Arvore.runtimeconfig.dev.json
Arvore/bin/Debug/netcoreapp3.1/Arvore.runtimeconfig.json
Arvore/bin/Release/netcoreapp3.1/Arvore.deps.json
Arvore/bin/Release/netcoreapp3.1/Arvore.dll
Arvore/bin/Release/netcoreapp3.1/Arvore.exe
Arvore/bin/Release/netcoreapp3.1/Arvore.pdb
Arvore/bin/Release/netcoreapp3.1/Arvore.runtimeconfig.dev.json
Arvore/bin/Release/netcoreapp3.1/Arvore.runtimeconfig.json
Arvore/obj/Arvore.csproj.nuget.dgspec.json
Arvore/obj/Arvore.csproj.nuget.g.props
Arvore/obj/Arvore.csproj.nuget.g.targets
Arvore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Arvore/obj/Debug/netcoreapp3.1/apphost.exe
Arvore/obj/Debug/netcoreapp3.1/Arvore.AssemblyInfo.cs
Arvore/obj/Debug/netcoreapp3.1/Arvore.AssemblyInfoInputs.cache
Arvore/obj/Debug/netcoreapp3.1/Arvore.assets.cache
Arvore/obj/Debug/netcoreapp3.1/Arvore.csproj.CoreCompileInputs.cache
Arvore/obj/Debug/netcoreapp3.1/Arvore.csproj.FileListAbsolute.txt
Arvore/obj/Debug/netcoreapp3.1/Arvore.dll
Arvore/obj/Debug/netcoreapp3.1/Arvore.genruntimeconfig.cache
Arvore/obj/Debug/netcoreapp3.1/Arvore.pdb
Arvore/obj/project.assets.json
Arvore/obj/project.nuget.cache
Arvore/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Arvore/obj/Release/netcoreapp3.1/apphost.exe
Arvore/obj/Release/netcoreapp3.1/Arvore.AssemblyInfo.cs
Arvore/obj/Release/netcoreapp3.1/Arvore.AssemblyInfoInputs.cache
Arvore/obj/Release/netcoreapp3.1/Arvore.assets.cache
Arvore/obj/Release/netcoreapp3.1/Arvore.csproj.CoreCompileInputs.cache
Arvore/obj/Release/netcoreapp3.1/Arvore.csproj.FileListAbsolute.txt
Arvore/obj/Release/netcoreapp3.1/Arvore.dll
Arvore/obj/Release/netcoreapp3.1/Arvore.genruntimeconfig.cache
Arvore/obj/Release/netcoreapp3.1/Arvore.pdb
